html  
  head
    title="HeathHeroes"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-signin-client_id' content='73545608160-grie8h8aqsg3pimc0mfroim40ae8qp41.apps.googleusercontent.com')
    
    link(href='/styles.css', rel='stylesheet')

  body
    #react-main-mount!= content

  script.
    window.__LOCALE__= "#{locale}";

  script(src='#{scriptUrl}/dist/vendor-bundle.js', defer)
  script(src='#{scriptUrl}/dist/app-bundle.js', defer)

  script(src='https://apis.google.com/js/platform.js', async, defer)
  