html  
  head
    title="HealthHero"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-signin-client_id' content='#{googleApiClientId}')
    
    link(href='/styles.css', rel='stylesheet')

  body
    #react-main-mount!= content

  script.
    window.__CONFIG__ = {apiBaseUrl: "#{apiBaseUrl}"};
    window.__LOCALE__= "#{locale}";

  script(src='https://apis.google.com/js/platform.js', defer)
  
  script(src='#{scriptUrl}/dist/vendor-bundle.js', defer)
  script(src='#{scriptUrl}/dist/app-bundle.js', defer)